.btnCartCount {
  width: 50px;
  height: 50px;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2.5rem;
  right: 5rem;
  cursor: pointer;
}
.btnCartCount i {
  transform: rotate(-45deg);
}
.btnCartCount .count {
  position: absolute;
  top: -8px;
  left: -9px;
  background-color: rgb(218, 40, 40);
  color: #fff;
  transform: rotate(-45deg);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
